<div class="jumbotron text-center">
	<h1 class="display-3">Download Youtube Videos</h1>
	<p class="lead">Now download youtube videos or playlist for free</p>
	<a href="/video" class="btn btn-dark btn-lg">Video</a>
	<a href="/playlist" class="btn btn-dark btn-lg">Playlist</a>
</div>