<div class="card card-body">
	<h3>Download Video</h3>
	<form action="/video" method="post">
		<div class="form-group">
			<label for="Playlist URL">Video URL</label>
			<input type="text" name="url" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Download</button>
	</form>
</div>